// Resets
// Body
html,
body {
  height:                     100%;
  width:                      100%;
}

body {
  margin:                     0;
  background-color:           $white;

  &.home {
    overflow:                 hidden;
  }
}

.home h1 {
  position:                   absolute;
  margin:                     16px 32px;

  @include media(">=desktop") {
    margin-left:              48px;
  }
}

// Main
main {
  height:                     100%;
  min-height:                 100%;
}

// Strips
.strip {
  width:                      208px;
  height:                     64px;
  background-color:           $white;
  border-radius:              $ui-border-radius;
  box-sizing:                 border-box;
  padding-left:               72px;
  padding-top:                6px;
  padding-bottom:             6px;
  padding-right:              8px;
  position:                   absolute;
  z-index:                    0;
  overflow:                   hidden;
  cursor:                     pointer;

  &:before {
    content:                  "";
    width:                    208px;
    height:                   64px;
    position:                 absolute;
    left:                     0;
    top:                      0;
    z-index:                  10;
    border-radius:            $ui-border-radius;
    box-shadow:               inset -1px -1px 0px 0px $ui-border-color,
                              inset 1px 1px 0px 0px $ui-border-color;
  }

  h3 {
    @include type-striphead();
    margin-top:               0;
    margin-bottom:            2px;
    height:                   32px;
    overflow:                 hidden;
    text-overflow:            ellipsis;
  }

  .topic {
    @include type-caption1();
    color:                    $gray-dark;
  }

  .preview {
    position:                 absolute;
    top:                      0;
    left:                     0;
    width:                    64px;
    height:                   64px;
    border-top-left-radius:   4px;
    border-bottom-left-radius:4px;
    overflow:                 hidden;

    img {
      display:                block;
      position:               absolute;
      top:                    0;
      left:                   0;
      width:                  64px;
      height:                 64px;
    }
  }
}

// Debug
#debug {
  position:                   absolute;
  top:                        0;
  left:                       0;
  z-index:                    1;
  width:                      100%;
  height:                     100%;
  opacity:                    0;
  display:                    block;
}

// pagination

.page-nav {
  @include type-striphead();
  position:                   absolute;
  display:                    block;
  width:                      48px;
  height:                     48px;
  box-sizing:                 border-box;
  border-radius:              24px;
  border:                     $ui-border-width solid $ui-border-color;
  // background-position:        center center;
  // background-repeat:          no-repeat;
  text-align:                 center;
  line-height:                48px;
}

// single pages

.single {

  height: auto;

  @include media(">=desktop") {
    display:                  flex;
    overflow:                 hidden;
    height:                   100%;
  }

  main {
    padding:                  16px;
    box-sizing:               border-box;

    @include media(">=desktop") {
      padding:                32px;
      height:                 100%;
      overflow-y:             auto;
      display:                flex;
      flex-direction:         column;
      flex-grow:              1;
    }

    section {
      max-width:              720px;
      margin:                 0 auto;
      padding-top:            32px;
    }
  }

  header {
    margin-bottom:            48px;
  }

  article {
    @include media(">=desktop") {
      padding-bottom:         128px;
    }
  }

  figure {
    margin-left:              1.6rem;
    margin-right:             1.6rem;

    @include media(">=desktop") {
      margin-left:            3.2rem;
      margin-right:           3.2rem;
    }

    img {
      width:                  100%;
      height:                 auto;
    }

    figcaption {
      margin-top:             8px;

      @include type-note();
    }
  }

  .embed {
    position:                 relative;
    padding-bottom:           56.25%;
    height:                   0;
    overflow:                 hidden;
    max-width:                100%;

    iframe {
      position:               absolute;
      top:                    0;
      left:                   0;
      width:                  100%;
      height:                 100%;
    }
  }

  aside {
    padding:                  48px 16px 16px;

    @include media(">=desktop") {
      padding:                64px 32px 32px;
      width:                  240px;
      height:                 100%;
      overflow-y:             auto;
      display:                flex;
      flex-direction:         column;
      flex-grow:              1;
    }
  }

}