<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link href="/demo/css/{{ index .Site.Data.css.hash "uniqlo.css" }}" rel="stylesheet">
  </head>
  <body>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=181743778524471";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
    <div class="wrapper">
      <header>
        <div class="wrapper-fluid">
          <div id="brand"><a href="#">UNIQLO</a></div>
          <nav>
            <ul>
              <li class="active"><a href="#">Women</a></li>
              <li><a href="#">Men</a></li>
              <li><a href="#">Kids</a></li>
              <li><a href="#">Baby</a></li>
            </ul>
          </nav>
          <div id="cart">
            <a href="#" class="pull-left"><i class="icon-cart"></i></a>
            <div id="cart-amount" class="pull-left">
              <dl class="dl-horizontal">
                <dt>商品点数</dt>
                <dd>1</dd>
                <dt>合計金額</dt>
                <dd>&yen;1,990</dd>
              </dl>
            </div>
            <!-- <a href="#"><i class="icon-cart"></i><span class="hidden-xs">&yen;4,500</span></a> -->
          </div>
        </div>
      </header>
      <article class="container-fluid">
        <div id="merchandise" class="row">
          <section class="col-md-9" role="main">
            <div class="row">
              <header class="col-md-4">
                <h1>Ｗ　ピーナッツスウェットシャツ（長袖）Ｂ０８・３１</h1>
                <div id="social">
                  <div class="social-button">
                    <div class="fb-like" data-href="http://aenism.com" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
                  </div>
                  <div class="social-button">
                    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://aenism.com" data-text="Read Aenism.com" data-via="Aen" data-hashtags="design" data-dnt="true">Tweet</a>
                  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                  </div>
                  <div class="social-button">
                    <a href="http://mixi.jp/share.pl" class="mixi-check-button" data-url="http://aenism.com" data-button="button-2">check</a>
                    <script type="text/javascript" src="http://static.mixi.jp/js/share.js"></script>
                  </div>
                  <div class="social-button">
                    <a href="//www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark"  data-pin-lang="ja"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_ja_rect_gray_20.png" /></a>
                    <script type="text/javascript" async src="//assets.pinterest.com/js/pinit.js"></script>
                  </div>
                </div>
                <div id="description" class="collapse">
                  <p>ピーナッツ</p>
                  <p>チャールズ・シュルツ原作、世界75カ国・21言語・2200紙で連載中の人気コミック“PEANUTS”。主人公チャーリー・ブラウンとその飼い犬スヌーピー、そして仲間たちの日常が時に哲学的なせりふとともに綴られる。</p>
                  <p>&copy; 2014 Peanuts Worldwide LLC</p>
                  <p>※店舗とは販売日が異なることがあります。<br>
                  ※XXL・3XLサイズは、オンラインストアのみでの取り扱いとなります。<br>
                  ※3XLサイズは、ご好評につき完売しました。</p>
                  <dl class="dl-horizontal">
                    <dt>素材</dt>
                    <dd>本体：100％綿／リブ部分：95％綿，5％ポリウレタン</dd>
                    <dt>仕様</dt>
                    <dd>バックプリントなし，裏パイル</dd>
                    <dt>取扱い</dt>
                    <dd>洗濯機・ネット使用</dd>
                  </dl>
                </div>
                <button class="btn btn-default btn-sm" data-toggle="collapse" data-target="#description">この商品について</button>
              </header>
              <div class="col-md-8">
                <section id="gallery" class="row">
                  <a href="/demo/img/uniqlo/31_088009_large.jpg" class="enlarge"><img src="/demo/img/uniqlo/31_088009_large.jpg" class="img-responsive" width="1000" height="1000"></a>
                  <a href="/demo/img/uniqlo/088009_sub6.jpg" class="tag icon-plus" data-x="545" data-y="205"></a>
                  <a href="/demo/img/uniqlo/088009_sub7.jpg" class="tag icon-plus" data-x="505" data-y="438"></a>
                  <a href="/demo/img/uniqlo/088009_sub8.jpg" class="tag icon-plus" data-x="672" data-y="732"></a>
                </section>
              </div>
            </div>
          </section>
          <aside id="clothing-tag" class="col-md-3">
            <div id="separator"></div>
            <div id="add-to-cart" class="row">
              <a href="#" class="btn btn-primary btn-lg btn-block">ショッピングカートに追加</a>
            </div>
            <section id="price" class="row">
              <h2>&yen;1,990</h2>
              <p>商品番号：088009</p>
              <p>サイズXXL取扱商品<br>
              ※オンライン限定サイズ</p>
            </section>
            <section id="color" class="row">
              <h2>カラーを選択</h2>
              <div class="selected">Color: 62 Blue</div>
              <ul>
                <li><a href="#" style="background-image:url('/demo/img/uniqlo/08_088009_chip.jpg');">08 Dark Gray</a></li>
                <li><a href="#" style="background-image:url('/demo/img/uniqlo/31_088009_chip.jpg');">31 Beige</a></li>
              </ul>
            </section>
            <section id="size" class="row">
              <h2>サイズを選択 <a href="#" class="pull-right">サイズ表を見る<i class="icon-right-open"></i></a></h2>
              <div class="selected">Size: 110</div>
              <ul>
                <li><a href="#" class="btn btn-default">S</a></li>
                <li><a href="#" class="btn btn-default">M</a></li>
                <li><a href="#" class="btn btn-default">L</a></li>
                <li><a href="#" class="btn btn-default">XL</a></li>
                <li><a href="#" class="btn btn-default">XXL</a></li>
              </ul>
            </section>
            <section id="quantity" class="row">
              <h2>数量を選択</h2>
              <div class="selected">Quantity: 1</div>
              <div class="input-group">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">-</button>
                </span>
                <input type="text" class="form-control" value="1">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">+</button>
                </span>
              </div>
            </section>
          </aside>
        </div>
        <div id="auxilliary" class="row">
          <div class="related">
            <a href="#">
              <img alt="UNIQLO" src="/demo/img/uniqlo/69_087448_reco.jpg" class="img-responsive">
              <div class="title">Ｗ　ピーナッツスウェットシャツ（長袖）Ａ１２・６９</div>
              <div class="price">￥1,990</div>
            </a>
          </div>
          <div class="related">
            <a href="#">
              <img alt="UNIQLO" src="/demo/img/uniqlo/60_088010_reco.jpg" class="img-responsive">
              <div class="title">Ｗ　ピーナッツスウェットシャツ（長袖）Ｃ０３・６０</div>
              <div class="price">￥1,990</div>
            </a>
          </div>
          <div class="related">
            <a href="#">
              <img alt="UNIQLO" src="/demo/img/uniqlo/37_088011_reco.jpg" class="img-responsive">
              <div class="title">Ｗ　ピーナッツスウェットシャツ（長袖）Ｄ０３・３７</div>
              <div class="price">￥1,990</div>
            </a>
          </div>
          <div class="related">
            <a href="#">
              <img alt="UNIQLO" src="/demo/img/uniqlo/69_087448_reco.jpg" class="img-responsive">
              <div class="title">Ｗ　Ｄｉｓｎｅｙ　ＰｒｏｊスウェットプルパーカＡ０３・６９</div>
              <div class="price">￥1,990</div>
            </a>
          </div>
          <div class="related">
            <a href="#">
              <img alt="UNIQLO" src="/demo/img/uniqlo/01_130558_reco.jpg" class="img-responsive">
              <div class="title">Ｗ　Ｄｉｓｎｅｙ　ＰｒｏｊスウェットプルパーカＤ０１</div>
              <div class="price">￥1,990</div>
            </a>
          </div>
          <div class="related">
            <a href="#">
              <img alt="UNIQLO" src="/demo/img/uniqlo/31_088023_reco.jpg" class="img-responsive">
              <div class="title">Ｗ　ピーナッツスウェットチュニック（長袖）Ｄ３１・３５</div>
              <div class="price">￥1,990</div>
            </a>
          </div>
          <div id="up">
            <a href="#">パーカ＆スウェットシャツ</a>
          </div>
        </div>
      </article>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenLite.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/CSSPlugin.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="/demo/js/{{ index .Site.Data.css.hash "uniqlo.js" }}"></script>
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-21041420-6');ga('send','pageview');
    </script>

    <div id="gallery-viewer"></div>
  </body>
</html>