@font-face {
  font-family: 'avenue-mono-regular';
  src: url('../fonts/avenue-mono-regular-webfont.woff2') format('woff2'),
    url('../fonts/avenue-mono-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  font-size : 62.5%;
}

body {
  @include type-body();
  color : $gray-darker;
}

h1 {
  @include type-displayll();
}

h2 {
  @include type-displayl();
}

h3 {
  @include type-displaym();
}

h4 {
  @include type-displays();
}

a {
  color           : $blue;
  text-decoration : none;
}

hr {
  height           : 24px;
  margin           : 32px 0;

  background-color : transparent;
  font-size        : 24px;
  text-align       : center;
  border           : 0;

  &:before {
    content : "🎈";
  }
  @include media(">=desktop") {
    margin : 64px 0;
  }
}

.single {
  article {
    text-rendering : optimizeLegibility;
  }

  h1 {
    @include media(">=tablet") {
      @include type-displaylll();
    }
  }

  h2, h3, h4, h5, h6 {
    margin-top: 32px;
    &:first-child {
      margin-top : 0;
    }
  }

  p {
    @include type-body2();

    margin  : 0;
    padding : 0;

    + p {
      text-indent : 1.6rem;
      @include media(">=desktop") {
        text-indent : 3.2rem;
      }
    }
    &.lead {
      @include type-displaym();

      margin-top    : 32px;
      margin-bottom : 32px;

      + p {
        text-indent : 0;
      }
    }

    sup,
    sub {
      font-weight: 400;
      vertical-align: -.3rem;
    }
  }

  p + figure,
  p + .embed,
  p + iframe,
  p + ul,
  p + ol,
  p + blockquote {
    margin-top: 32px;
  }

  figure + p,
  .embed + p,
  iframe + p,
  ul + p,
  ol + p,
  blockquote + p {
    margin-top: 32px;
  }

  blockquote {
    margin: 0 1.6rem;

    @include media(">=desktop") {
      margin: 0 3.2rem;
    }


  }
}

// Syntax higlighting
.highlight {
  margin-top    : 30px;
  margin-bottom : 30px;

  pre {
    border-radius: 5px;
    margin : 0;
    padding : 10px 15px;
    font-family: monospace;
    font-size: 1.4rem;
    line-height: 150%;
    line-height: 1.429; 
    overflow: auto;
  }
}