<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/css/{{ index .Site.Data.css.hash "main.css" }}" />
    {{ if .RSSLink }}
    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end }}
  </head>
  <body id="top" class="single">
    {{ partial "header.html" . }}
    <main>
      <header style="background-image:url({{ .Params.Article_Image }});">
        <h1>{{ .Title }}</h1>
        <p>
          {{ if not (isset .Params "client") }}
            {{ .Params.Topic }}
          {{ else }}
            {{ .Params.Client }}
          {{ end }}
        </p>
      </header>
      <section>
        <article>
          <div class="wrapper">
            {{ .Content }}
          </div>
        </article>
        {{ if not (isset .Params "nogoto") }}
          {{ partial "goto.html" . }}
        {{ end }}
      </section>
    </main>
    {{ partial "footer.html" . }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/{{ index .Site.Data.js.hash "main.js" }}"></script>
  </body>
</html>