<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ .Title }} \ {{ .Site.Title }}</title>
    <link rel="stylesheet" href="/css/{{ index .Site.Data.css.hash "main.css" }}" />
    {{ with .OutputFormats.Get "RSS" }}
    <link href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    <link href="{{ .RelPermalink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end }}
    {{ partial "header.html" . }}
  </head>
  <body id="top" class="single topic-{{ .Params.Topic }}">
    <main>
      <section>
        <header>
          <p>
            <a href="/">←back</a>
            <!-- {{ if not (isset .Params "client") }}
              Topic: {{ .Params.Topic }}
            {{ else }}
              Client: {{ .Params.Client }}
            {{ end }} -->
          </p>
          <h1>{{ .Title }}</h1>
        </header>
        <article>
          <div class="wrapper">
            {{ .Content }}
          </div>
        </article>
      </section>
    </main>

    {{ partial "footer.html" . }}
  </body>
</html>