<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/css/{{ index .Site.Data.css.hash "main.css" }}" />
    {{ if .RSSLink }}
    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end }}
  </head>
  <body>
    {{ partial "header.html" . }}
    <main>
      <section class="hero" data-width="720" data-height="533">
        <h1>I reimagine experiences for ambitious products.</h1>
      </section>
      <section class="experience">
        <div class="wrapper">
          <p>I am Aen, a software product designer.</p>
          <p>From 2003, I made Flash and CSS websites and rode the Web 2.0 wave. From 2008, I started focusing on UI and UX and helped launch software products for businesses in various industries.</p>
          <p>These are some of the companies and brands I have created for.</p>
        </div>
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <article class="swiper-slide card">
              <figure>
                {{ partial "svg/logo_experience_mydoc.svg" . }}
                <figcaption>
                  <div>
                    Mydoc
                    <div class="topic">Healthcare</div>
                  </div>
                  <a href="/familiar-healthcare-ux/">Details</a>
                </figcaption>
              </figure>
            </article>
            <article class="swiper-slide card">
              <figure>
                {{ partial "svg/logo_experience_intersective.svg" . }}
                <figcaption>
                  <div>
                    Intersective
                    <div class="topic">Education</div>
                  </div>
                </figcaption>
              </figure>
            </article>
            <article class="swiper-slide card">
              <figure>
                {{ partial "svg/logo_experience_singaporebrides.svg" . }}
                <figcaption>
                  <div>
                    SingaporeBrides
                    <div class="topic">Weddings</div>
                  </div>
                </figcaption>
              </figure>
            </article>
            <article class="swiper-slide card">
              <figure>
                {{ partial "svg/logo_experience_verifone.svg" . }}
                <figcaption>
                  <div>
                    Verifone
                    <div class="topic">Payments</div>
                  </div>
                </figcaption>
              </figure>
            </article>
            <article class="swiper-slide card">
              <figure>
                {{ partial "svg/logo_experience_mozat.svg" . }}
                <figcaption>
                  <div>
                    Mozat
                    <div class="topic">Mobile</div>
                  </div>
                </figcaption>
              </figure>
            </article>
            <article class="swiper-slide card">
              <figure>
                {{ partial "svg/logo_experience_toc.svg" . }}
                <figcaption>
                  <div>
                    The Open Company
                    <div class="topic">Useful Goods</div>
                  </div>
                  <a href="/typographic-design-for-a-miura-fold-map-of-sans-francisco/">Details</a>
                </figcaption>
              </figure>
            </article>
            <article class="swiper-slide card">
              <figure>
                {{ partial "svg/logo_experience_viki.svg" . }}
                <figcaption>
                  <div>
                    Viki
                    <div class="topic">Entertainment</div>
                  </div>
                </figcaption>
              </figure>
            </article>
            <article class="swiper-slide card">
              <figure>
                {{ partial "svg/logo_experience_anideo.svg" . }}
                <figcaption>
                  <div>
                    Anideo
                    <div class="topic">Mobile</div>
                  </div>
                </figcaption>
              </figure>
            </article>
            <article class="swiper-slide card">
              <figure>
                {{ partial "svg/logo_experience_relayroom.svg" . }}
                <figcaption>
                  <div>
                    Relay Room
                    <div class="topic">Design</div>
                  </div>
                </figcaption>
              </figure>
            </article>
            <article class="swiper-slide card">
              <figure>
                {{ partial "svg/logo_experience_hungrygowhere.svg" . }}
                <figcaption>
                  <div>
                    HungryGoWhere
                    <div class="topic">Food</div>
                  </div>
                </figcaption>
              </figure>
            </article>
            <article class="swiper-slide card">
              <figure>
                {{ partial "svg/logo_experience_sony.svg" . }}
                <figcaption>
                  <div>
                    SONY
                    <div class="topic">Consumer Electronics</div>
                  </div>
                </figcaption>
              </figure>
            </article>
            <article class="swiper-slide card">
              <figure>
                {{ partial "svg/logo_experience_yahoo.svg" . }}
                <figcaption>
                  <div>
                    Yahoo
                    <div class="topic">Internet Services</div>
                  </div>
                </figcaption>
              </figure>
            </article>
          </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </section>
      <section class="services">
        <div class="wrapper">
          <p>I have many skills. The services I’m currently focused on providing can be described by these common terms.</p>
        </div>
        <div class="wrapper">
          <div class="pills">
            <span class="pill pill-white">Product Design</span>
            <span class="pill pill-white">User Interface</span>
            <span class="pill pill-white">UX</span>
            <span class="pill pill-white">User Experience</span>
            <span class="pill pill-white">UI/UX</span>
            <span class="pill pill-white">App Design</span>
            <span class="pill pill-white">UI Design</span>
            <span class="pill pill-white">Design Thinking</span>
            <span class="pill pill-white">iOS Apps</span>
            <span class="pill pill-white">Android Apps</span>
            <span class="pill pill-white">Material Design</span>
            <span class="pill pill-white">Graphic Design</span>
          </div>
        </div>
      </section>
      <section class="accolades">
        <div class="wrapper">
          <p>These are some of the publications my work has been featured in.</p>
        </div>
        <div class="logos">
          {{ partial "svg/logo_techcrunch.svg" . }}
          {{ partial "svg/logo_smashingmag.svg" . }}
          {{ partial "svg/logo_coolhunting.svg" . }}
          {{ partial "svg/logo_tnw.svg" . }}
          {{ partial "svg/logo_lifehacker.svg" . }}
          {{ partial "svg/logo_ixda.svg" . }}
          {{ partial "svg/logo_boingboing.svg" . }}
          {{ partial "svg/logo_cnbc.svg" . }}
          {{ partial "svg/logo_rockport.svg" . }}
          {{ partial "svg/logo_designdesign.svg" . }}
          {{ partial "svg/logo_designmodo.svg" . }}
          {{ partial "svg/logo_fastcodesign.svg" . }}
          {{ partial "svg/logo_gestalten.svg" . }}
          {{ partial "svg/logo_upout.svg" . }}
          {{ partial "svg/logo_bltd.svg" . }}
          {{ partial "svg/logo_up.svg" . }}
          {{ partial "svg/logo_barcamp.svg" . }}
        </div>
      </section>
      <section id="client-work" class="client-work">
        <header>
          <h2>
            <a href="#client-work">Client Work</a>
          </h2>
        </header>
        <div class="wrapper">
          <p>You may be interested in these case studies.</p>
        </div>
        <div class="swiper-container">
          <div class="swiper-wrapper">
            {{ range where .Data.Pages "Section" "work" }}
            <article class="swiper-slide card">
              <figure>
                <div class="work-preview" style="background-image:url('{{ .Params.Preview_Image }}')"></div>
                <figcaption>
                  <div>
                    <h3>{{ .Title }}</h3>
                    <div class="subtitle">{{ .Params.Client }}</div>
                  </div>
                  <p>{{ .Params.Description }}</p>
                </figcaption>
              </figure>
              <a href="{{ .RelPermalink }}">Read More</a>
            </article>
            {{ end }}
          </div>
          <div class="swiper-pagination"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
        <div class="history">
          <h3>Experience, 2007 – 2017</h3>
          <div class="history-list">
            <dl>
              <h4>2017</h4>
              <dt>Intersective</dt>
              <dd>Designed Personal Edge Portfolio app for RMIT Vietnam.</dd>
              <dt>ThisDay</dt>
              <dd>Designed iOS app for wedding services directory created by SingaporeBrides – Singapore's leading wedding services portal and community.</dd>
            </dl>
            <dl>
              <h4>2016</h4>
              <dt>Intersective</dt>
              <dd>Developed and designed education software for universities in Australia and Vietnam. Implemented in Angular 2 and Ionic 2.</dd>
            </dl>
            <dl>
              <h4>2015</h4>
              <dt>MyDoc</dt>
              <dd>Proposed and led the effort to introduce chat and AI as the primary user interface to connect patients and healthcare professionals.</dd>
              <dd>Designed online pharmacy Q&A experience in partnership with Guardian Pharmacy.</dd>
              <dt>ViSenze</dt>
              <dd>Design and developed website for a machine learning startup.</dd>
              <dt>AngelRound</dt>
              <dd>Designed brand identity, website and developed backend for online platform that matches startups with angel investors.</dd>
              <dt>SingaporeBrides</dt>
              <dd>Designed app icon for Singapore's leading wedding portal and community.</dd>
            </dl>
            <dl>
              <h4>2014</h4>
              <dt>Saturdays</dt>
              <dd>Designed website for a social keep-fit-together platform based in Tokyo, Japan.</dd>
              <dt>GoodHands</dt>
              <dd>Designed brand identity, website and iOS app for a massage-on-demand service.</dd>
              <dt>Sunday</dt>
              <dd>Designed brand identity and developed website for a design agency.</dd>
              <dt>Multiply</dt>
              <dd>Design brand identity, website, emails for Multiply – affordable, short term software development courses for those who want practical new skills for a technology-centric future.</dd>
              <dt>6degrees</dt>
              <dd>Designed and released a contact management app on Android and iOS. Also designed and developed corporate identity, website, email newsletters and icons.</dd>
            </dl>
            <dl>
              <h4>2013</h4>
              <dt>LifeOpp</dt>
              <dd>Designed web application, iOS and Android apps, implemented Twitter Bootstrap and redesigned logo for a jobs site focused on the service industry.</dd>
              <dt>Mozat</dt>
              <dd>Managed a team of six designers as VP Design and released a portfolio of mobile apps and games including Deja, Loops and Shabik, across iOS, Android, Windows Phone, Blackberry, J2ME and Symbian platforms in Southeast Asia, China and the Middle East.</dd>
            </dl>
            <dl>
              <h4>2012</h4>
              <dt>The Best of Business Card Design 9</dt>
              <dd>COMA business card design featured in book by Rule29/Rockport Publishers, which features the most current and best work by top designers worldwide. The “go-to” sourcebook for business card design inspiration.</dd>
              <dt>StartUpAsia</dt>
              <dd>Presented my web prototyping product Mocku.ps at startup event organized by Tech in Asia.</dd>
              <dt>Denso</dt>
              <dd>Design the iPhone and iPad apps for video app Denso, by Anideo – backed by Eduardo Saverin, a co-founder of Facebook.</dd>
              <dt>The Open Company</dt>
              <dd>Collaborated with friends in San Francisco, painters in Reykjavik and printers in Tokyo to create a Kickstarter-funded Miura-folded Watercolor-painted map of San Francisco.</dd>
              <dt>Creative Mixer</dt>
              <dd>Spoke at an event organized by Relay Room that brings together creatives, "hackers", and entrepreneurs into a single space to redefine creativity.</dd>
            </dl>
            <dl>
              <h4>2011</h4>
              <dt>ONE-R Inc.</dt>
              <dd>Designed website for mobile games developer and publisher based in Tokyo, Japan.</dd>
              <dt>Likables</dt>
              <dd>Founded, developed and launched Likables, a visual bookmarking service like Pinterest.</dd>
              <dt>Viki</dt>
              <dd>Designed the iOS (iPhone, iPad) and Android (phone, tablet) apps for the video streaming service that was later acquired by Rakuten.</dd>
              <dt>Plusminusten</dt>
              <dd>Participating designer in exhibition for Asia's first-ever homage to Dieter Rams' core beliefs.</dd>
              <dt>IXDA</dt>
              <dd>Presented at the inaugural launch of IXDA Singapore.</dd>
            </dl>
            <dl>
              <h4>2010</h4>
              <dt>Design And Design</dt>
              <dd>Personal business card design featured in Design and Design Book of the Year Volume Two, among 730 designs, 440 designers from more than 160 countries.</dd>
              <dt>DEMO Fall</dt>
              <dd>Presented for Foound at DEMO Fall at the behest of VentureBeat Founder and CEO Matt Marshall.</dd>
              <dt>Echelon</dt>
              <dd>Designed presentation for and represented Foound in a startup pitch competition. Received praise from Dave McClure and standing ovation from audience. Secured 500K seed funding as a result.</dd>
              <dt>Shashi Tharoor</dt>
              <dd>Build and ran the site for a campaign to support the Indian Minister of State for External Affairs during his legal fiasco. Gathered more than twenty thousand signatures included one from UN Chief Kofi Annan, and was featured on CNN.</dd>
              <dt>Indian Premier League</dt>
              <dd>Social media management in the third season of the Indian Premier League.</dd>
            </dl>
            <dl>
              <h4>2009</h4>
              <dt>Shashi Tharoor</dt>
              <dd>Build and ran political website for then United Nations Under-Secretary General for Communications and Public Information who became India's foreign minister.</dd>
              <dt>The Miele Guide</dt>
              <dd>Designed and developed the website for 2009/2010 edition of The Miele Guide.</dd>
            </dl>
            <dl>
              <h4>2008</h4>
              <dt>The Miele Guide</dt>
              <dd>Designed and developed the website for 2008/2009 edition of a printed showcase of the top 20 restaurants in Asia, sponsored by German home appliance maker Miele.</dd>
              <dt>Widgeo.us</dt>
              <dd>Designed the UI/UX for a cross-channel communications platform. Offered chat bot API to developers before it was all the rage years later. Launched at BarCamp Singapore.</dd>
            </dl>
            <dl>
              <h4>2007</h4>
              <dt>SportsHook</dt>
              <dd>Lead designer at a startup building a sports social network with facility booking service.</dd>
            </dl>
          </div>
        </div>
      </section>
      <section id="ideas" class="ideas">
        <header>
          <h2>
            <a href="#ideas">Ideas</a>
          </h2>
        </header>
        <div class="wrapper">
          <p>Being an introspective person who reads a lot, I have pondered deeply on various subjects of interest. These articles discuss ideas related not only to my fields of expertise but also on Psychology, Philosophy and Cooking.</p>
        </div>
        <div class="deck">
          {{ range where .Data.Pages "Section" "ideas" }}
          <article class="card">
            <h3>{{ .Title }}{{ if (isset .Params "hot") }} <span class="hot">Hot</span>{{ end }}</h3>
            <div class="topic-label">{{ .Params.Topic }}</div>
            <div class="topic-icon topic-{{ .Params.Topic }}"></div>
            <a href="{{ .RelPermalink }}">Read More</a>
          </article>
          {{ end }}
        </div>
      </section>
      <section class="copyright">&copy; Aen Tan</section>
    </main>
    {{ partial "footer.html" . }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/{{ index .Site.Data.js.hash "main.js" }}"></script>
  </body>
</html>