<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/css/{{ index .Site.Data.css.hash "main.css" }}" />
    {{ with .OutputFormats.Get "RSS" }}
    <link href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" />
    <link href="{{ .RelPermalink }}" rel="feed" type="application/rss+xml" title="{{ $.Site.Title }}" />
    {{ end }}
    {{ partial "header.html" . }}
  </head>
  <body class="home">

    {{ $pag := .Paginate (where site.RegularPages "Type" "in" site.Params.mainSections) }}

    <h1>
      {{ .Title }}
      {{ if gt $pag.PageNumber 1 }}
      page {{ $pag.PageNumber }}
      {{ end }}
    </h1>

    <main>

      {{ if $pag.HasPrev }}
      <div data-url="{{ $pag.Prev.URL }}" class="matter-body page-nav page-minus">{{ sub $pag.PageNumber 1 }}←</div>
      {{ end }}
      {{ if $pag.HasNext }}
      <div data-url="{{ $pag.Next.URL }}" class="matter-body page-nav page-plus">→{{ add $pag.PageNumber 1 }}</div>
      {{ end }}

      {{ range $pag.Pages }}
      <article class="matter-body strip{{ if .Params.Hot }} hot{{ end }} topic-{{ .Params.Topic }}" data-url="{{ .RelPermalink }}">
        <h3>{{ .Title }}</h3>
        <div class="topic">{{ .Params.Topic }}</div>
        <!-- <div class="preview">
          {{ if isset .Params "preview_image" }}
            <img src="/img/previews/{{ .Params.preview_image }}" alt="Image">
          {{ end }}
        </div> -->
      </article>
      {{ end }}

      <div class="disturber matter-body"></div>
      <div class="disturber matter-body"></div>
      <div class="disturber matter-body"></div>

    </main>

    <!-- <svg width="0" height="0">
      <filter id="kill">
        <feColorMatrix type="matrix" 
          result="red_"             
          values="1 1 0 0 0
                  0 0 0 0 0 
                  0 0 1 0 0 
                  0 0 0 1 0"/>
        <feOffset in="red_" dx="0.5" dy="-0.5" result="red"/>
        <feColorMatrix type="matrix" 
          in="SourceGraphic"             
          result="blue_"             
          values="0 0 0 0 0
                  0 2 0 0 0 
                  0 0 2 0 0 
                  0 0 0 1 0"/>
        <feOffset in="blue_" dx="-0.5" dy="0.5" result="blue"/>    
        <feBlend mode="screen" in="red" in2="blue"/>

      </filter>
    </svg> -->

    <div id="debug"></div>
    <div id="toggle-debug"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/matter-js/0.12.0/matter.min.js" type="text/javascript"></script>
    <script src="/js/{{ index .Site.Data.js.hash "main.js" }}" type="text/javascript"></script>

    {{ partial "footer.html" . }}
  </body>
</html>