<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/css/{{ index .Site.Data.css.hash "main.css" }}" />
  </head>
  <body>
    {{ partial "header.html" . }}
    <main>
      <section class="hero" data-width="720" data-height="533">
        <h1>I reimagine experiences for ambitious software.</h1>
      </section>
      <section class="experience">
        <div class="wrapper">
          <p>I am Aen, a software product designer.</p>
          <p>From 2003, I made Flash and CSS websites and rode the Web 2.0 wave. From 2008, I started focusing on UI and UX and helped launch software products for businesses in various industries.</p>
          <p>These are some of the companies and brands I have created for.</p>
        </div>
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <article class="swiper-slide card">
              <figure>
                {{ partial "svg/logo_mydoc.svg" . }}
                <figcaption>
                  <div>
                    Mydoc
                    <div class="topic">Healthcare</div>
                  </div>
                  <a href="/mydoc/">Details</a>
                </figcaption>
              </figure>
            </article>
            <article class="swiper-slide card">
              <figure>
                {{ partial "svg/logo_intersective.svg" . }}
                <figcaption>
                  <div>
                    Intersective
                    <div class="topic">Education</div>
                  </div>
                </figcaption>
              </figure>
            </article>
            <article class="swiper-slide card">
              <figure>
                {{ partial "svg/logo_singaporebrides.svg" . }}
                <figcaption>
                  <div>
                    SingaporeBrides
                    <div class="topic">Weddings</div>
                  </div>
                </figcaption>
              </figure>
            </article>
            <article class="swiper-slide card">
              <figure>
                {{ partial "svg/logo_verifone.svg" . }}
                <figcaption>
                  <div>
                    Verifone
                    <div class="topic">Payments</div>
                  </div>
                </figcaption>
              </figure>
            </article>
            <article class="swiper-slide card">
              <figure>
                {{ partial "svg/logo_mozat.svg" . }}
                <figcaption>
                  <div>
                    Mozat
                    <div class="topic">Mobile</div>
                  </div>
                </figcaption>
              </figure>
            </article>
            <article class="swiper-slide card">
              <figure>
                {{ partial "svg/logo_toc.svg" . }}
                <figcaption>
                  <div>
                    The Open Company
                    <div class="topic">Useful Goods</div>
                  </div>
                  <a href="/the-open-company/">Details</a>
                </figcaption>
              </figure>
            </article>
            <article class="swiper-slide card">
              <figure>
                {{ partial "svg/logo_hungrygowhere.svg" . }}
                <figcaption>
                  <div>
                    HungryGoWhere
                    <div class="topic">Food</div>
                  </div>
                </figcaption>
              </figure>
            </article>
            <article class="swiper-slide card">
              <figure>
                {{ partial "svg/logo_sony.svg" . }}
                <figcaption>
                  <div>
                    SONY
                    <div class="topic">Consumer Electronics</div>
                  </div>
                </figcaption>
              </figure>
            </article>
            <article class="swiper-slide card">
              <figure>
                {{ partial "svg/logo_yahoo.svg" . }}
                <figcaption>
                  <div>
                    Yahoo
                    <div class="topic">Internet Services</div>
                  </div>
                </figcaption>
              </figure>
            </article>
          </div>
        </div>
      </section>
      <section class="services">
        <div class="wrapper">
          <p>I have many skills. The services I’m currently focused on providing can be described by these common terms.</p>
        </div>
        <div class="wrapper">
          <div class="pills">
            <span class="pill pill-white">Product Design</span>
            <span class="pill pill-white">User Interface</span>
            <span class="pill pill-white">UX</span>
            <span class="pill pill-white">User Experience</span>
            <span class="pill pill-white">UI/UX</span>
            <span class="pill pill-white">App Design</span>
            <span class="pill pill-white">UI Design</span>
            <span class="pill pill-white">Design Thinking</span>
            <span class="pill pill-white">iOS Apps</span>
            <span class="pill pill-white">Android Apps</span>
            <span class="pill pill-white">Material Design</span>
            <span class="pill pill-white">Graphic Design</span>
          </div>
        </div>
      </section>
      <section id="client-work" class="client-work">
        <header>
          <h2>
            <a href="#client-work">Client Work</a>
          </h2>
        </header>
        <div class="wrapper">
          <p>You may be interested in these case studies.</p>
        </div>
        <div class="swiper-container">
          <div class="swiper-wrapper">
            {{ range where .Data.Pages "Section" "work" }}
            <article class="swiper-slide card">
              <figure>
                <div class="work-preview" style="background-image:url('{{ .Params.Preview_Image }}')"></div>
                <figcaption>
                  <div>
                    <h3>{{ .Title }}</h3>
                    <div class="topic">{{ .Params.Topic }}</div>
                  </div>
                  <p>{{ .Params.Description }}</p>
                </figcaption>
              </figure>
              <a href="{{ .RelPermalink }}">Read More</a>
            </article>
            {{ end }}
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </section>
      <section class="accolades">
        <div class="wrapper">
          <p>These are some of the publications my work has been featured in.</p>
        </div>
        <div class="logos">
          {{ partial "svg/logo_techcrunch.svg" . }}
          {{ partial "svg/logo_smashingmag.svg" . }}
          {{ partial "svg/logo_coolhunting.svg" . }}
          {{ partial "svg/logo_tnw.svg" . }}
          {{ partial "svg/logo_lifehacker.svg" . }}
          {{ partial "svg/logo_ixda.svg" . }}
          {{ partial "svg/logo_boingboing.svg" . }}
          {{ partial "svg/logo_cnbc.svg" . }}
          {{ partial "svg/logo_rockport.svg" . }}
          {{ partial "svg/logo_designdesign.svg" . }}
          {{ partial "svg/logo_designmodo.svg" . }}
          {{ partial "svg/logo_fastcodesign.svg" . }}
          {{ partial "svg/logo_gestalten.svg" . }}
          {{ partial "svg/logo_upout.svg" . }}
          {{ partial "svg/logo_bltd.svg" . }}
          {{ partial "svg/logo_up.svg" . }}
          {{ partial "svg/logo_barcamp.svg" . }}
        </div>
      </section>
      <section id="ideas" class="ideas">
        <header>
          <h2>
            <a href="#ideas">Ideas</a>
          </h2>
        </header>
        <div class="wrapper">
          <p>Being an introspective person who reads a lot, I have pondered deeply on various subjects of interest. These articles discuss ideas related not only to my fields of expertise but also on Psychology, Philosophy and Cooking.</p>
        </div>
        <div class="deck">
          {{ range where .Data.Pages "Section" "ideas" }}
          <article class="card">
            <h3>{{ .Title }}</h3>
            <div class="topic-label">{{ .Params.Topic }}</div>
            <div class="topic-icon topic-{{ .Params.Topic }}"></div>
            <a href="{{ .RelPermalink }}">Read More</a>
          </article>
          {{ end }}
        </div>
      </section>
    </main>
    {{ partial "footer.html" . }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/{{ index .Site.Data.js.hash "main.js" }}"></script>
  </body>
</html>