html {
  font-size:                62.5%;
}

body {
  @include type-body();
  color:                    $gray-darker;
}

h1 {
  @include type-displayll();
}

h2 {
  @include type-displayl();
}

h3 {
  @include type-displaym();
}

h4 {
  @include type-displays();
}

a {
  color:                    $blue;
  text-decoration:          none;
}

hr {
  background-color:         transparent;
  border:                   0;
  font-size:                24px;
  height:                   20px;
  margin:                   30px 0;
  text-align:               center;
  text-shadow:              0px 2px 3px rgba(0, 0, 0, 0.45);

  &:before {
    content:                "🍪";
  }

  @include media(">=tablet") {
    margin:                 60px 0;
  }
}

.single {
  article {
    text-rendering:           optimizeLegibility;
  }

  p {
    @include type-body2();

    margin:                 0;
    padding:                0;

    +p {
      text-indent:          1.5rem;

      @include media(">=tablet") {
        text-indent:        3rem;
      }
    }

    &.lead {
      @include type-displaym();

      margin-bottom:        30px;

      + p {
        text-indent:        0;
      }
    }
  }
}