@mixin type-displaylll() {
  font-family    : $type-base-family;
  font-size      : $type-displaylll-size;
  font-weight    : $type-displaylll-weight;
  letter-spacing : $type-displaylll-letter-spacing;
  line-height    : $type-displaylll-line-height;
}

@mixin type-displayll() {
  font-family    : $type-base-family;
  font-size      : $type-displayll-size;
  font-weight    : $type-displayll-weight;
  letter-spacing : $type-displayll-letter-spacing;
  line-height    : $type-displayll-line-height;
}

@mixin type-displayl() {
  font-family    : $type-base-family;
  font-size      : $type-displayl-size;
  font-weight    : $type-displayl-weight;
  letter-spacing : $type-displayl-letter-spacing;
  line-height    : $type-displayl-line-height;
}

@mixin type-displaym() {
  font-family    : $type-base-family;
  font-size      : $type-displaym-size;
  font-weight    : $type-displaym-weight;
  letter-spacing : $type-displaym-letter-spacing;
  line-height    : $type-displaym-line-height;
}

@mixin type-displays() {
  font-family    : $type-base-family;
  font-size      : $type-displays-size;
  font-weight    : $type-displays-weight;
  letter-spacing : $type-displays-letter-spacing;
  line-height    : $type-displays-line-height;
}

@mixin type-headline() {
  font-family    : $type-base-family;
  font-size      : $type-headline-size;
  font-weight    : $type-headline-weight;
  letter-spacing : $type-headline-letter-spacing;
  line-height    : $type-headline-line-height;
}

@mixin type-body2() {
  font-family    : $type-base-family;
  font-size      : $type-body2-size;
  font-weight    : $type-body2-weight;
  letter-spacing : $type-body2-letter-spacing;
  line-height    : $type-body2-line-height;
}

@mixin type-body() {
  font-family    : $type-base-family;
  font-size      : $type-body-size;
  font-weight    : $type-body-weight;
  letter-spacing : $type-body-letter-spacing;
  line-height    : $type-body-line-height;
}

@mixin type-callout() {
  font-family    : $type-base-family;
  font-size      : $type-callout-size;
  font-weight    : $type-callout-weight;
  letter-spacing : $type-callout-letter-spacing;
  line-height    : $type-callout-line-height;
}

@mixin type-subhead() {
  font-family    : $type-base-family;
  font-size      : $type-subhead-size;
  font-weight    : $type-subhead-weight;
  letter-spacing : $type-subhead-letter-spacing;
  line-height    : $type-subhead-line-height;
}

@mixin type-note() {
  font-family    : $type-base-family;
  font-size      : $type-note-size;
  font-weight    : $type-note-weight;
  letter-spacing : $type-note-letter-spacing;
  line-height    : $type-note-line-height;
}

@mixin type-caption1() {
  font-family    : $type-base-family;
  font-size      : $type-caption1-size;
  font-weight    : $type-caption1-weight;
  letter-spacing : $type-caption1-letter-spacing;
  line-height    : $type-caption1-line-height;
}

@mixin type-caption2() {
  font-family    : $type-base-family;
  font-size      : $type-caption2-size;
  font-weight    : $type-caption2-weight;
  letter-spacing : $type-caption2-letter-spacing;
  line-height    : $type-caption2-line-height;
}